
body {
   font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;;
   
}

a {
    text-decoration: none;
}    
a:hover {
    
    text-decoration: underline;
}

.titulo {
    text-align: center;
}
.plataforma {
    list-style: none;
}

.forma {
   
    width: 90%;
    margin: auto;
}